In [1]:
import psycopg2
import configparser

## Connect and verify Data Model

### Set up connection to Redshift Cluster

In [4]:
config = configparser.ConfigParser()
config.read('dwh.cfg')
aws_db_paremeters = ("""
host = {}
dbname = {}
user = {}
password = {}
port = {}
""").format(*config['CLUSTER'].values())

conn = psycopg2.connect(aws_db_paremeters)
cur = conn.cursor()

### Staging tables rows of data

In [14]:
cur = conn.cursor()
try:
    # cur.execute("SELECT COUNT(*) FROM staging_flights")
    cur.execute("SELECT COUNT(*) FROM fact_flights")
    conn.commit()
except Exception as e:
    print(e)
row = cur.fetchone()
print(row)

(1232410,)

## Execute analysis

#### "For Southwest Airline, how many landings does their 737 make in 2021?"

In [15]:
WN_737_landing = """
SELECT SUM(ff.departures_performed) AS flights 
FROM fact_flights ff
INNER JOIN dim_aircraft_code dac ON ff.aircraft_type = dac.ac_typeid
WHERE ff.unique_carrier_entity = '06725'
AND dac.short_name = 'B737-7'
AND ff.year = 2021
"""
conn.close()
conn = psycopg2.connect(aws_db_paremeters)
cur = conn.cursor()
try:
    cur.execute(WN_737_landing)

except Exception as e:
    print(e)
row = cur.fetchone()
print(row)

(Decimal('639945.00'),)

#### "For Airbus A321, what are the average route lengh chosen by US airlines?"

In [17]:
A321_avg_route_length = """
SELECT AVG(ff.distance) AS avg_distance 
FROM fact_flights ff
INNER JOIN dim_aircraft_code dac ON ff.aircraft_type = dac.ac_typeid
WHERE dac.short_name LIKE '%A321%'
AND ff.distance > 100
"""
conn.close()
conn = psycopg2.connect(aws_db_paremeters)
cur = conn.cursor()
try:
    cur.execute(A321_avg_route_length)

except Exception as e:
    print(e)
row = cur.fetchone()
print(row)

(Decimal('1203.92'),)

#### "What are the most popular destinations for helicotpers?"

In [20]:
Helicopter_dest = """
SELECT ff.DEST, dapc.city_name, SUM(ff.departures_performed) AS arrivals
FROM fact_flights ff
JOIN dim_aircraft_code dac ON ff.aircraft_type = dac.ac_typeid
JOIN dim_aircraft_group dag ON dac.ac_group = dag.ac_group
JOIN  dim_airport_code dapc ON ff.dest = dapc.airport_code
WHERE dag.ac_group_description = 'Helicopter/Stol'
GROUP BY ff.DEST, dapc.city_name
ORDER BY arrivals DESC
LIMIT 5;
"""
conn.close()
conn = psycopg2.connect(aws_db_paremeters)
cur = conn.cursor()
try:
    cur.execute(Helicopter_dest)

except Exception as e:
    print(e)
result_set = cur.fetchall()

for row in result_set:
    print(row)

('OME', 'Nome, AK', Decimal('2508.00'))
('KQA', 'Akutan, AK', Decimal('2409.00'))
('7AK', 'Akun, AK', Decimal('2381.00'))
('1G4', 'Peach Springs, AZ', Decimal('1100.00'))
('SCC', 'Deadhorse, AK', Decimal('873.00'))

### Drop all tables

In [59]:
drop table dev.public.dim_aircraft_group;
drop table dev.public.dim_airport_code;
drop table dev.public.staging_aircraft_configuration;
drop table dev.public.staging_aircraft_group;

In [60]:
conn = psycopg2.connect(aws_db_paremeters)
cur = conn.cursor()
try:
    cur.execute(songplay_table_drop)
    cur.execute(songplay_table_create)
    cur.execute(songplay_table_insert)
    conn.commit()
except Exception as e:
    print(e)
conn.close()

### Drop, Create and Insert user_table

In [7]:
user_table_create = ("""
CREATE TABLE IF NOT EXISTS user_table
(user_id INTEGER PRIMARY KEY,
first_name VARCHAR,
last_name VARCHAR,
gender CHAR(1),
level CHAR(10)
)
""")
user_table_insert = ("""
INSERT INTO user_table
(user_id, first_name, last_name, gender, level)
SELECT userId, firstName, lastName, gender, level
FROM staging_events_table
WHERE userId is not null;
""")
user_table_distinct = ("""
BEGIN;
CREATE TABLE temp1 AS SELECT DISTINCT * FROM user_table;
ALTER TABLE user_table RENAME TO temp2;
ALTER TABLE temp1 RENAME TO user_table;
DROP TABLE temp2;
COMMIT;
""")

In [8]:
conn = psycopg2.connect(aws_db_paremeters)
cur = conn.cursor()
try:
    cur.execute(user_table_drop)
    cur.execute(user_table_create)
    cur.execute(user_table_insert)
    cur.execute(user_table_distinct)
    conn.commit()
except Exception as e:
    print(e)
conn.close()

### Drop, Create and Insert song_table

In [5]:
song_table_drop = "DROP TABLE IF EXISTS song_table"
song_table_create = ("""
CREATE TABLE IF NOT EXISTS song_table
(song_id VARCHAR PRIMARY KEY,
title VARCHAR NOT NULL,
artist_id VARCHAR,
year INTEGER,
duration DECIMAL NOT NULL
)
""")
song_table_insert = ("""
INSERT INTO song_table
(song_id, title, artist_id, year, duration)
SELECT song_id, title, artist_id, year, duration
FROM staging_songs_table
""")

In [6]:
conn = psycopg2.connect(aws_db_paremeters)
cur = conn.cursor()
try:
    cur.execute(song_table_drop)
    cur.execute(song_table_create)
    cur.execute(song_table_insert)
    conn.commit()
except Exception as e:
    print(e)
conn.close()

### Drop, Create and Insert artist_table

In [10]:
artist_table_drop = "DROP TABLE IF EXISTS artist_table"

artist_table_create = ("""
CREATE TABLE IF NOT EXISTS artist_table
(artist_id VARCHAR PRIMARY KEY,
name VARCHAR NOT NULL,
location VARCHAR,
lattitude double precision,
longitude double precision
)
""")

artist_table_insert = ("""
INSERT INTO artist_table
(artist_id, name, location, lattitude, longitude)
SELECT artist_id, artist_name, artist_location, artist_lattitude, artist_longitude
FROM staging_songs_table
""")

artist_table_distinct = (
"""
BEGIN;
CREATE TABLE temp1 AS SELECT DISTINCT * FROM artist_table;
ALTER TABLE artist_table RENAME TO temp2;
ALTER TABLE temp1 RENAME TO artist_table;
DROP TABLE temp2;
COMMIT;
"""
)

In [11]:
conn = psycopg2.connect(aws_db_paremeters)
cur = conn.cursor()
try:
    cur.execute(artist_table_drop)
    cur.execute(artist_table_create)
    cur.execute(artist_table_insert)
    cur.execute(artist_table_distinct)
    conn.commit()
except Exception as e:
    print(e)
conn.close()